@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/mixins";

@import "./variables";

// TODO: Customizar cores

// Customizar toast
$toast-max-width: 1170px;
$toast-header-background-color: $white;
$toast-header-border-color: transparent;
$toast-background-color: $white;
$toast-border-radius: 8px;
$toast-header-color: $color-secondary;

@import "~bootstrap/scss/bootstrap";