/* colors */
$brand-color: #000958; // dark blue
$white: #fff;
$blue: #20bce9;
$light-blue: #c7eefb;
$green: #01c2a9;
$gray: #131a27;
$light-gray: #dedede;
$pink: #ffb8b8;
$light-pink: #ffedee;
$red: #ff124b;

$color-primary: $brand-color;
$color-secondary: $green;

/* text colors */
$text-color: $gray;

/* font family */
$font-family-primary: "Roboto Mono", sans-serif;

/* breakpoints */
$xl: 1200px;
$lg: 1024px;
$md: 768px;
$sm: 480px;
$xs: 320px;
