@import "./custom";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");
@import "./variables";
@import "./backgrounds";
@import "./buttons";

body {
  margin: 0;
  font-family: $font-family-primary;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-primary;
}

p {
  color: $text-color;
  font-size: 14px;
  line-height: 28px;
}

a {
  text-decoration: none;
}

// utilities

.padding-top-bottom-medium {
  padding-top: 76px;
  padding-bottom: 76px;
}


.box-radius {
  border-radius: 16px;
}

.box-border {
  border-color: $white;
  background-color: $white;
  padding: 6px;
  object-fit: contain;
}

.margin-right-15{
  margin-right: 15px;
}
