 @import "styles/variables";

 .custom-dots{
   position: inherit;
   margin-top: 10px;

   button {
    border-color: $color-primary;
   }

   .react-multi-carousel-dot--active {
     button { background-color: $color-primary; }
   }
 }